// Variables
@import 'variables';

// core
@import "node_modules/@coreui/coreui/scss/coreui";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

textarea{
    resize: none;
}

.table{
    &.table-wrap{
        td,th{
            white-space: nowrap;
        }
    }
}

.cursor-pointer{
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.cursor-pointer{
    cursor: pointer;
}

.c-blue{
    color: $blue
}

.c-primary{
    color: $primary
}
