@import "AdminLTE.css";
@import "_all-skins.css";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";

a{
    text-decoration: none !important;
}
textarea{
    resize:none;
}
hr{
    border-top: 1px solid rgba(#008d4c, .2);
}
.subtitle:not(.box-title){
    margin-top: 3em !important;
    color: #336c2a;
    text-align: center;
}

.form-control{
    border-radius: 0 !important;
}
.calendar{
    font-size: 1em !important;
    width: 100%;
    margin:auto;
    a{
        color: gray;
        font-size: 1.1em;
    }
}

.main-header{
    .logo-mini{
        img{
            width: 50px;
        }
    }
    .logo-lg{
        img{
            width: 50px;
        }
    }
}

.actions{
    min-width: 100px;
    a, button{
        padding: 1px 6px;
        background: transparent;
        &:hover{
            background: gray;
            i{
                color: white;
            }

        }
        i{
            font-size: 1.4em;
            color: #00c0ef;
        }
    }
}

.btn-submit{
    margin-top: 2em;
}


.header-paciente{
    text-align: center;
    line-height: 4em;
    margin-top: 1em;
    background: #008d4c;
    .row{
        margin: 0;
        padding: 0;
        div{
            margin: 0;
            padding: 0;
         }

    }
    a{
        display: block;
        color: white;
        transition: .3s all ease;
        font-size: 1.1em;
        font-weight: bold;
        &:hover{
            background: #3c8dbc;
        }

    }
    .active{
        background: #3c8dbc;
    }
}
.fc-content{
    color:white;
}

.subtitul_form{
    text-align: center;
    color:#008d4c;
    font-weight: bold;
}

.bootstrap-select .dropdown-toggle{
    background: transparent;
}
.bootstrap-select .btn-group.open .dropdown-toggle{
    box-shadow:none;
}
.bootstrap-select.open>.dropdown-toggle.btn-default{
    background-color: transparent;
}

@media (min-width:768px){
    .calendar{
        width: 80%;
    }
}

@media (min-width: 992px){
    .modal-lg {
        width: 1024px;
    }
    .modal-open .modal{
        padding-right: 0 !important;
    }
}

